@()
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <div class="logo mr-auto"><img src="@routes.Assets.versioned("images/favicon.png")"> <a href="/">UBTUIT</a></div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/">Asosiy</a></li>
                <li><a href="/topics">Mavzular</a></li>
                <li><a href="/test">Testlar</a></li>
                <li><a href="/results">Natijalar</a></li>
            </ul>
        </nav>
        <a href="/profile" class="get-started-btn scrollto"> <i class="icofont-user-alt-4"></i> <b>Surojiddin</b></a>
    </div>
</header>
