@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@main("Tizimga kirish", webJarsUtil) {

    <div id="signIn" class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                        <div class="row"><img src="@routes.Assets.versioned("images/favicon.png")" class="logo"></div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                            <img src="@routes.Assets.versioned("images/signin.svg")" class="image"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            <h3 class="mb-0 mr-4 mt-2 font-weight-bold">Tizimga kirish</h3>
                        </div>
                        <br>
                        <div class="row px-3">
                            <label class="mb-1"><h5 class="mb-0">Login</h5></label>
                            <input class="mb-4" type="text" name="email" placeholder="Loginingizni kiriting...">
                        </div>
                        <div class="row px-3">
                            <label class="mb-1"><h5 class="mb-0">Parol</h5></label>
                            <input type="password" name="password" placeholder="Parolingizni kiriting...">
                        </div>
                        <div class="row px-3 mb-4 py-1">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input id="chk1" type="checkbox" name="chk" class="custom-control-input">
                                <label for="chk1" class="custom-control-label text-sm"> Eslab qolish</label>
                            </div>
                            <a href="#" class="ml-auto mb-0 text-sm">Parolni unitdingizmi?</a>
                        </div>
                        <div class="row mb-3 px-3">
                            <a href="/topics">
                                <button type="submit" class="btn btn-blue text-center">Kirish</button>
                            </a>
                        </div>
                        <div class="row mb-4 px-3">
                            <small class="font-weight-bold">
                                Akountingiz yo'qmi? <a href="/sign-up">Ro'yhatdan o'tish</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-blue py-4">
                <div class="row px-3">
                    <div class="copyright ml-3">
                                &copy; Copyright <strong><span>UBTUIT</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits d-flex ml-auto mr-3">
                        Project by <a href="https://instagram.com/isurojiddin">Jumaniyozov Surojiddin</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
