@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@main("Mavzular ro'yhati", webJarsUtil) {
    @header()

    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Mavzular ro'yhati</h2>
                    <ol>
                        <li><a href="/">Asosiy</a></li>
                        <li>Mavzular</li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="inner-page">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <i class="icofont-electron"></i> <span class="font-weight-bold">Energiyaning saqlanish qonuni</span>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <i class="icofont-electron"></i> <span class="font-weight-bold">Impulsning saqlanish qonuni</span>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <i class="icofont-electron"></i> <span class="font-weight-bold">Yerning tortishish kuchi</span>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <i class="icofont-electron"></i> <span class="font-weight-bold">Gorizontal otilgan jismning harakati</span>
                    </div>
                </div>
            </div>
        </section>

    </main>

    @footer()
}
