@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@main("Mavzular ro'yhati", webJarsUtil) {
    @header()

    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Mavzu</h2>
                    <ol>
                        <li><a href="/">Asosiy</a></li>
                        <li>Mavzu</li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="inner-page">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h3 class="font-weight-bold">Butun olam tortishish qonuni</h3>
                        <iframe class="border-0 select-card-video my-3"
                        src="https://www.youtube.com/embed/9qKK4LI0OYg">
                        </iframe>
                        <div class="d-inline float-right">
                            <a href="#" class="btn-send">Testni boshlash</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    @footer()
}
